@import url("../Colors.css");
@import url("../Spacing.css");

.feed-container {
  background-color: var(--color-background);
  border-radius: 25px;
  padding: 24px 0;
  margin: 36px auto;
  min-height: 85vh;
}
