@import url("../Colors.css");
@import url("../Spacing.css");

.forgot-password-container {
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forgot-password-container h2 {
  margin-bottom: 24px;
}

.forgot-password-container form {
  width: 100%;
}