@import url('../Colors.css');
@import url('../Spacing.css');

.profile-edit-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-edit-wrap {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: var(--color-form-background);
    border-radius: 25px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-edit-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    font-size: 24px;
}

.avatar-wrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 360px;
    border: 2px solid var(--color-secondary);
    cursor: pointer;
    margin-bottom: 8px;
}

.avatar-image:hover {
    filter: grayscale(50%);
}

.avatar-image-label {
    text-align: center;
    font-size: 14px;
    color: var(--color-text);
    margin-top: 8px;
}

.profile-edit-form {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    border: none;
}

.form-group-wrap {
    flex-grow: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    font-size: 14px;
    color: var(--color-text);
    margin-bottom: 5px;
}

.profile-edit-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button {
    margin-left: 8px;
    background-color: var(--color-secondary);
}