@import url("../Colors.css");
@import url("../Spacing.css");

.profile-container {
  background-color: var(--color-background);
  border-radius: 25px;
  padding: 24px 0;
  margin: 36px auto;
  min-height: 85vh;
}

.profile-container hr {
  max-width: 650px;
  margin: auto;
  margin-top: 20px;
  height: 1px;
}

.profile-header {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-avatar-container {
  display: flex;
  justify-content: center;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--color-secondary);
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  flex-grow: 1;
}

.profile-username h2 {
  margin-bottom: 10px;
}

.profile-stats {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.profile-stats p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.profile-about p {
  font-size: 14px;
  color: var(--color-secondary);
  margin-top: 10px;
}

.profile-actions {
  margin-top: 10px;
  height: 128px;
  position: relative;
}

.profile-actions button {
  top: 0;
  left: 0;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: var(--color-button-text);
  font-size: 14px;
  cursor: pointer;
}

.profile-button-follow {
  display: flex;
  align-items: center;
  background-color: var(--color-button-primary);
}

.profile-button-follow svg {
  /* margin: 0;
  padding: 0; */
  margin-left: 8px;
  margin-bottom: 2px;
}

.profile-button-follow:hover {
  background-color: var(--color-hover);
}

.profile-button-follow:active {
  background-color: var(--color-active);
}

.profile-button-edit {
  display: flex;
  align-items: center;
  background-color: var(--color-button-secondary);
}

.profile-button-edit svg {
  margin-left: 8px;
  margin-bottom: 2px;
}

.profile-button-edit:hover {
  background-color: var(--color-hover);
}

.profile-button-edit:active {
  background-color: var(--color-active);
}

.profile-posts {
  width: 100%;
  margin-top: 20px;
}

.profile-posts h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-posts h3 {
  text-align: center;
  margin: auto;
  color: var(--color-disabled);
}

@media (max-width: 720px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-details {
    padding-left: 0;
    text-align: center;
  }

  .profile-stats {
    justify-content: center;
  }

  .profile-actions {
    height: fit-content;
  }
}
