@import url("../Colors.css");
@import url("../Spacing.css");

.reset-password-container {
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reset-password-container h2 {
  margin-bottom: 24px;
}

.reset-password-container form {
  width: 100%;
}

.password-input-container {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.password-input-container input {
  margin-bottom: 0 !important;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  height: 40px;
}

.password-input-container button {
  position: absolute;
  right: 10px;

  top: 50%;

  transform: translateY(-50%);

  border: none;
  background: transparent;

  cursor: pointer;
  padding: 0;
  font-size: 24px;

  line-height: 1;

}

.password-input-container button:hover {
  background-color: transparent;
  color: #ffffff;
}

.server-success-message {
  padding: 16px 8px;
  width: 100%;
  text-align: center;
  color: var(--color-text);
  border-radius: 8px;
  background-color: var(--color-success);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-success-message svg {
  margin-right: 4px;
}