@import url("../Colors.css");

.reset-password-container {
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reset-password-container h2 {
  margin-bottom: 24px;
}

.reset-password-container form {
  width: 100%;
}

/* .password-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.password-input-container input {
    margin: 0 !important;
}

.password-input-container button {
    margin-left: 16px;
} */
.password-input-container {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  /* Додає флекс-контейнер для вирівнювання */
  align-items: center;
  /* Вертикальне вирівнювання */
}

.password-input-container input {
  margin-bottom: 0 !important;
  width: 100%;
  padding-right: 40px;
  /* Місце для кнопки з права */
  box-sizing: border-box;
  /* Включає padding у загальну ширину */
  height: 40px;
  /* Встановіть висоту для контейнера */
}

.password-input-container button {
  position: absolute;
  right: 10px;
  /* Відстань від правого краю */
  top: 50%;
  /* Вертикальне центровання кнопки */
  transform: translateY(-50%);
  /* Центрування кнопки по вертикалі */
  border: none;
  background: transparent;
  /* Без фону */
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  /* Колір іконки (можете налаштувати під себе) */
  line-height: 1;
  /* Встановлення висоти рядка для кнопки */
}

.password-input-container button:hover {
  background-color: transparent;
  color: #ffffff;
}

.server-success-message {
  padding: 16px 8px;
  width: 100%;
  text-align: center;
  color: var(--color-text);
  border-radius: 8px;
  background-color: var(--color-success);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-success-message svg {
  margin-right: 4px;
}
