@import url("../Colors.css");
@import url("../Spacing.css");

.search-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.search-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

.search-input-container {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.search-button {
    height: fit-content;
}