@import url("../Colors.css");

.sign-in-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: start;
}

.form-container,
.image-container {
  display: flex;
  padding: 20px;
}

.form-container {
  flex: 2;
  padding: 10%;
  justify-content: center;
  /* Центрує форму по вертикалі */
  align-items: start;
  /* Центрує форму по горизонталі */
  flex-direction: column;
  background-color: var(--color-form-background);
  border-right: 1px solid var(--color-form-border);
  color: var(--color-text);
  box-sizing: border-box;
  /* Включає відступи в загальний розмір блоку */
}

.form-container-header {
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
}

.image-container {
  flex: 3;
  width: 60%;
  display: flex;
  justify-content: center;
  /* Центрує зображення по горизонталі */
  align-items: center;
  /* Центрує зображення по вертикалі */
}

.sign-in-button,
.google-sign-in-button {
  width: 100%;
  margin-bottom: 16px;
}

.register-button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.register-button:hover {
  color: var(--color-hover);
  background-color: transparent;
  text-decoration: underline;
}

#password {
  margin-bottom: 0;
}

.forgot-password-button {
  margin-left: auto;
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 0.9em;
  margin-bottom: 24px;
}

.forgot-password-button:hover {
  color: var(--color-hover);
  background-color: transparent;
  text-decoration: underline;
}

.registration-prompt {
  font-size: 0.9em;
}

.image-container {
  background-color: var(--color-background);
  color: var(--color-text);
}

.sign-in-button {
  background-color: var(--color-button-primary);
}

.google-sign-in-button {
  background-color: var(--color-background);
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-sign-in-button svg {
  margin-right: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.input-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.input-header label {
  margin-right: 8px;
}

.input-header p {
  margin: 0;
}

.input-header p[style] {
  font-size: 0.8em;
}

.forgot-password-link {
  text-align: end;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .sign-in-wrapper {
    padding: 0 36px;
    flex-direction: column;
  }

  .form-container,
  .image-container {
    flex: 1;
    width: 100%;
    padding: 10px;
  }

  .image-container {
    display: none;
  }

  .form-container {
    border-right: none;
    border-bottom: 1px solid var(--color-form-border);
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 5%;
  }

  .sign-in-button,
  .google-sign-in-button {
    margin-bottom: 12px;
  }

  .forgot-password-button {
    font-size: 0.8em;
  }

  .registration-prompt {
    font-size: 0.8em;
  }
}
