@import url("./Colors.css");
@import url("./Spacing.css");

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 0.5rem 0;
  line-height: 1.6;
}

ul,
ol {
  margin: 0 0 1rem 0;
  padding: 0 0 0 1.5rem;
}

li {
  margin: 0.5rem 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

a:active {
  color: var(--color-active);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid var(--color-post-border);
  text-align: left;
}

th {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 4px solid var(--color-primary);
  padding-left: 1rem;
  margin: 1rem 0;
  font-style: italic;
  color: var(--color-secondary);
}

code {
  background-color: var(--color-dark);
  color: var(--color-primary);
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  background-color: var(--color-dark);
  color: var(--color-text);
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

button {
  background-color: var(--color-button-primary);
  color: var(--color-button-text);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-hover);
}

button:active {
  background-color: var(--color-active);
}

button[disabled] {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

form {
  background-color: var(--color-form-background);
  border: 1px solid var(--color-form-border);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

input,
textarea,
select {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-form-border);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  resize: none;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--color-primary);
  outline: none;
}

::selection {
  color: var(--color-text);
  background: var(--color-primary);
}

.content-container {
  margin-left: 360px;
  margin-top: 56px;
  padding: 8px;
}

@media (max-width: 960px) {
  .content-container {
    margin-left: 60px;
  }
}

@media (max-width: 720px) {
  .content-container {
    margin-left: 0px;
    padding: 0;
  }
}