:root {
    --small: 4px;
    --medium: 8px;
    --large: 16px;
    --extra-large: 24px;
    --double-large: 32px;
}

:root {
    --margin-small: var(--small);
    --margin-medium: var(--medium);
    --margin-large: var(--large);
    --margin-extra-large: var(--extra-large);
    --margin-double-large: var(--double-large);

    --padding-small: var(--small);
    --padding-medium: var(--medium);
    --padding-large: var(--large);
    --padding-extra-large: var(--extra-large);
    --padding-double-large: var(--double-large);
}